{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block sidebar %}


{% endblock %}

{% block body %}

    <div class="container">
        <div class="row ">
            <div class="col-md-6 col-md-offset-4">
                <div class="login-panel card">
                    <div class="card-header">
                        {% block paneltitle %}
                            <h3 class="card-title">Información de usuario</h3>
                        {% endblock %}
                    </div>
                    <div class="card-body">
                        {% block content %}

                            {% if app.request.hasPreviousSession %}
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for message in messages %}
                                        <div class="flash-{{ type }} alert alert-success ">
                                            {{ message | trans({}, 'FOSUserBundle') }}<br>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                            <div>
                                {% block fos_user_content %}


                                {% endblock fos_user_content %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

