{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

   <p class="lead my-5">Para restablecer tu contraseña revisa tu cuenta de correo.</p>

{% endblock fos_user_content %}

